@import "variables";
@import "./partials/left";
@import "./partials/right";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  font-size: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  border: 0;
  padding: 0;
  background: inherit;
  list-style: none;
}
.container {
  background: #e1e2ee;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.content-wraper {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.8rem;
  min-height: calc(100vh - 3rem);
  background-color: #252a41;
  box-shadow: 1px 1px 16px rgb(148, 148, 148);
}
@media only screen and (max-width: 768px) {
  .content-wraper {
    flex-flow: column;
    width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 786px) {
  .content-wraper {
    width: 95%;
    flex-flow: column;
  }
}
@media only screen and (min-width: 900px) {
  .content-wraper {
    width: 95%;
    flex-flow: row;
  }
}
