@media only screen and (max-width: 550px) {
  .content-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .left-container {
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 786px) {
  .left {
    margin: 0.8rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    place-items: center;
    color: #ffffff;
  }
  .left-container {
    padding: 1rem 6rem;
  }
}

.left {
  margin: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  color: #ffffff;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.left-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gretting-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.welcome {
  margin-top: 0.8rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: #98b3da;
}

.searchbox {
  margin-top: 1.4rem;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  background-color: #3A3F54;
  padding: 0.8rem 3rem;
  outline: none;
}

.searchbox::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.8rem;
}

.searchbox:-ms-input-placeholder {
  color: #ffffff;
  font-size: 0.8rem;
}

.searchbox::-ms-input-placeholder {
  color: #ffffff;
  font-size: 0.8rem;
}

.searchbox::placeholder {
  color: #ffffff;
  font-size: 0.8rem;
}

.gretting h1 {
  font-weight: bold;
}

.project-header {
  margin-top: 2.4rem;
  color: #ffffff;
}

.project-header span {
  color: #98b3da;
}

.project-lists {
  margin-top: 2rem !important;
  margin: 0.1rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.project-initial {
  font-weight: bold;
  background: #7bbefd;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding: 3rem;
  width: 0.1rem;
  height: 0.1rem;
}

.project-initial h1 {
  background: none;
  color: #3f3f3f;
}

.project-initial:hover {
  -webkit-box-shadow: 0 0 0 2pt #008f99, inset 0 0 0 5px #252A41;
          box-shadow: 0 0 0 2pt #008f99, inset 0 0 0 5px #252A41;
  cursor: pointer;
}

.project-title {
  width: 100%;
  margin-top: 1rem !important;
  font-size: 0.9rem;
  text-align: center !important;
  white-space: nowrap;
  margin-left: auto;
  margin-left: auto;
}

.header {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  place-items: center;
}

.menu-button {
  color: white;
  border-radius: 0.5rem;
  padding: 5px;
  background: #3A3F54;
}

.button-icon {
  width: 1.4rem;
  height: 1.2rem;
}

.right-header h1 {
  font-size: x-large;
  font-weight: 500;
}

.search-label {
  position: relative;
}

.search-label:before {
  content: "";
  color: white;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
  background: url("../../assets/images/search.svg") center/contain no-repeat;
}

.new {
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  position: absolute;
  margin-top: -6rem;
  margin-left: 5rem;
  border-radius: 999px;
}

@media only screen and (max-width: 520px) {
  .right-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .peoples {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right-header-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 768px) {
  .right {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 920px) {
  .right {
    width: 50%;
  }
}

.right {
  margin: 1rem;
  border-radius: 0.8rem;
  background: #ffffff;
}

.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}

.wraper {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.right-header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: start;
}

.right-footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 1rem;
  overflow-y: auto;
}

.todo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

.todo .check {
  margin-right: 1rem;
}

.todo .check:checked ~ .checkmark:after {
  background: #000;
}

.status-primary {
  background: #dadaff;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}

.status-danger {
  color: #794800;
  background: #feffb7;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}

.status-sucess {
  background: #a0ffc8;
  color: green;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}

.status-secondary {
  background: #bebebe;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}

.right-header-title p {
  margin-top: 0.5rem;
  font-size: small;
  color: #98b3da;
}

.todo-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-header h1 {
  font-weight: bold;
  margin-top: 1rem;
}

.peoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people {
  margin-right: -0.2rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 0 0 0 2pt white;
          box-shadow: 0 0 0 2pt white;
}

.todo-menu {
  width: 1.3rem;
}

.todo-add {
  -webkit-box-shadow: 0 10px 10px rgba(152, 1, 252, 0.308);
          box-shadow: 0 10px 10px rgba(152, 1, 252, 0.308);
  color: white;
  background: #9801fc;
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: flex-end;
  margin-top: 1rem;
  margin-right: -1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.todo-add:hover {
  background: #5d009b;
}

.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-radius: 999px;
  width: 25px;
  background-color: #eee;
}

.check:hover input ~ .checkmark {
  background-color: #ccc;
}

.check input:checked ~ .checkmark {
  background-color: #5dcacb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add-people {
  margin-left: 0.6rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  border: 0;
  padding: 0;
  background: inherit;
  list-style: none;
}

.container {
  background: #e1e2ee;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.8rem;
  min-height: calc(100vh - 3rem);
  background-color: #252a41;
  -webkit-box-shadow: 1px 1px 16px #949494;
          box-shadow: 1px 1px 16px #949494;
}

@media only screen and (max-width: 768px) {
  .content-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 786px) {
  .content-wraper {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (min-width: 900px) {
  .content-wraper {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}
/*# sourceMappingURL=main.css.map */