@import '../variables';

.left-content{
    display: flex;
    height: 100%;
    flex-flow: column;
}
.left{
    overflow: hidden;
    margin: 0.8rem;
    width: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    color: #ffffff;
}
.left-container{    
    padding: 1rem 6rem;
    flex-grow: 1;
}
.gretting-name {
    font-size: 1.3rem;
    font-weight: bold;
}
.welcome{
    margin-top: 0.8rem;
    font-weight: 400;
    font-size: 0.8rem;
    color: $text-color-secondary;
}
.right{
    margin: 0.8rem;
    border-radius: 0.8rem;
    width: 50%;
    background: #ffffff;
}
.searchbox{
    margin-top: 1.4rem;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    background-color: $bg-secondary;
    padding: 0.8rem 1.5rem;
    outline: none;
}
.searchbox::placeholder{
    color:#ffffff;
    font-size: 0.8rem;
}
.gretting{
    h1{
        font-weight: bold;
    }
}
.project-header{
    margin-top: 2.4rem;
    color: #ffffff;
    span{
        color: $text-color-secondary;
    }
}
.project-lists{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.project{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
.project-initial{
    font-weight: bold;
    background: rgb(3, 90, 172);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 3rem;
    width: 0.1rem;
    height: 0.1rem;
}
.project-initial:hover{
    box-shadow: 0 0 0 2pt rgb(0, 143, 153), inset 0 0 0 5px $bg-primary;
    cursor: pointer;
}
.project-title{
    width: 100%;
    margin-top: 1rem !important;
    font-size: 0.9rem;
    text-align: center !important;
    white-space: nowrap;
    margin-left: auto;
    margin-left: auto;
}
.header{
    height: 2rem;
    display: flex;
    justify-content: start;
    place-items: center;
}
.menu-button{
    color: white;
    border-radius: 0.5rem;
    padding: 5px;
    background: $bg-secondary;
}
.button-icon{
    width: 1.4rem;    
    height: 1.2rem;    
}
.right-header{
    h1{
        font-size: x-large;
        font-weight: 500;
    }
}