@media only screen and (max-width: 520px) {
  .right-header{
    flex-flow: column;
  }
  .peoples{
    order: 1;
  }
  .right-header-title{
    order: 2;
  }
}
@media only screen and (max-width: 768px) {
  .right {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 920px) {
  .right {
    width: 50%;
  }
}
.right {
  margin: 1rem;
  border-radius: 0.8rem;
  background: #ffffff;
}
.right-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0);
}
.wraper {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.right-header {
  height: 4rem;
  display: flex;
  place-items: start;
}
.right-footer {
  margin-top: 1rem;
  display: flex;
  place-items: center;
  justify-content: flex-end;
}
.todos {
  flex-grow: 1;
  padding: 0 1rem;
  overflow-y: auto;
}
.todo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  place-items: center;
  .check {
    margin-right: 1rem;
  }
  .check:checked ~ .checkmark:after {
    background: #000;
  }
}
.status-primary {
  background: rgb(218, 218, 255);
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}
.status-danger {
  color: rgb(121, 72, 0);
  background: rgb(254, 255, 183);
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}
.status-sucess {
  background: rgb(160, 255, 200);
  color: green;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}
.status-secondary {
  background: rgb(190, 190, 190);
  padding: 4px 12px;
  border-radius: 999px;
  font-size: small;
  white-space: nowrap;
}
.right-header-title {
  p {
    margin-top: 0.5rem;
    font-size: small;
    color: $text-color-secondary;
  }
}
.todo-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  justify-content: space-between;
  h1 {
    font-weight: bold;
    margin-top: 1rem;
  }
}
.peoples {
  display: flex;
  place-items: center;
  justify-content: center;
}
.people {
  margin-right: -0.2rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 0 2pt rgb(255, 255, 255);
}
.todo-menu {
  width: 1.3rem;
}
.todo-add {
box-shadow: 0 10px 10px rgba(152, 1, 252, 0.308);
  color: white;
  background: rgb(152, 1, 252);
  padding: 0.6rem;
  display: flex;
  place-items: flex-end;
  margin-top: 1rem;
  margin-right: -1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.todo-add:hover {
  background: rgb(93, 0, 155);
}
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-radius: $rounded-full;
  width: 25px;
  background-color: #eee;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check input:checked ~ .checkmark {
  background-color: #5dcacb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.add-people {
  margin-left: 0.6rem;
}
